body {
    background-color: #000;
    margin-top: 0;
}

@font-face {
  font-family:'Heavitas' ;
  src: url('font/Heativas.tff') format('truetype')
}
.container {
    color: white;
    font-family: 'Heavitas';
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.circule-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 45%;
    margin-top: 60px;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5)
}

.circule-container img {
  object-fit: cover;
   width: 100%;
    height: 100%;
}

.line {
    border-top: 1px solid white;
    margin: 80px 0;
}

.projects {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.catcut {
    align-items: center;
    justify-items: center;
    transform: scale(1.0);
    margin-top: 5%;
}
.line-two {
    border-top: 1px solid black;
    margin: 20px 0;

}

.hamburger-toggle {
    display: none;
  }
  
  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
}
  
  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
}
  
  .menu-content {
    display: none;
}
  
  .hamburger-toggle:checked + .hamburger {
    color: aqua;
}
  
  .hamburger-toggle:checked + .hamburger + .menu-content {
    display: flex;
    flex-direction: row-reverse;
}
  
  .menu-content ul {
    list-style: none;
    padding: 0;
}
  
  .menu-content li {
    margin-bottom: 10px;
}
  
  .menu-content a {
    text-decoration: none;
    color: white;
}

.button1 {
  background: none;
  color: white;
  border: 4px solid #202124;
}

.button1:hover {
  border: 4px solid #00d9fc;
  color: #00d9fc;
  box-shadow: 0px 0px 35px #00d9fc, 0px 0px 15px #00d9fc inset;
  text-shadow: 0px 0px 10px #00d9fc 0px 0px 3px #00d9fc;
}

.button2 {
  background: none;
  color: white;
  border: 4px solid #202124;
}

.button2:hover {
  border: 4px solid #00d9fc;
  color: #00d9fc;
  box-shadow: 0px 0px 35px #00d9fc, 0px 0px 15px #00d9fc inset;
  text-shadow: 0px 0px 10px #00d9fc 0px 0px 3px #00d9fc;
}

.button3 {
  background: none;
  color: white;
  border: 4px solid #202124;
}

.button3:hover {
  border: 4px solid #00d9fc;
  color: #00d9fc;
  box-shadow: 0px 0px 35px #00d9fc, 0px 0px 15px #00d9fc inset;
  text-shadow: 0px 0px 10px #00d9fc 0px 0px 3px #00d9fc;
}

.discord {
      background: none;
      color: white;
      border: 4px solid #202124;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 39%;
      left: 47%;
      margin-top: 50px;
      font-size: 20px;
      background-image: url(imagem/logo-discord.png);
    }

.discord:hover {
  border: 4px solid #00d9fc;
  color: #00d9fc;
  box-shadow: 0px 0px 35px #00d9fc, 0px 0px 15px #00d9fc inset;
  text-shadow: 0px 0px 10px #00d9fc 0px 0px 3px #00d9fc;
}